<!-- views/partials/footer.ejs -->
<!-- 
<footer class="footer">
    <p>© 2020 El sitio de Bejamin Ramirez Bolaños.</p>
    <i class="fab fa-twitter"></i>
    <a class="twitter-follow-button show-count"
  href="https://twitter.com/benja2501r"
  data-size="large">
Follow @benja2501r</a>
</footer>
-->
<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4"> Contenido</h5>
        <p>Sobre esta pagina</p>
        <p>Esta pagina esta desarrollada para efectos educativos en la materia de aplicaciones web orientada a servicios en la UTNG</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a href="#!">PROJECTS</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">BLOG</a>
            </p>
          </li>
          
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Direccion</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fas fa-home mr-3"></i>San Luis de la Paz,GTO 37900, MX</p>
          </li>
          <li>
            <p>
              <i class="fas fa-envelope mr-3"></i> ea3692gmail.com</p>
          </li>
          <li>
            <p>
              <i class="fas fa-phone mr-3"></i> 4681019131</p>
          </li>
          
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Follow</h5>


        <ul class="list-unstyled">
          <li>
            <i class="fab fa-twitter"></i>
            <a class="twitter-follow-button show-count" href="https://twitter.com/benja2501r" data-size="large">
              Follow @benja2501r</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>

  </div>



  <div class="footer-copyright text-center py-3">© 2020 Copyright:
     Pagina de Benjamin Ramirez Bolaños
  </div>
</footer>