<!-- views/partials/footer.ejs -->
<footer class="footer">
    <p>© 2020 El sitio de Bejamin Ramirez Bolaños.</p>
    <i class="fab fa-twitter"></i>
    <a class="twitter-follow-button show-count"
  href="https://twitter.com/benja2501r"
  data-size="large">
Follow @benja2501r</a>
</footer>