<!DOCTYPE html>
<html lang="es"></html>
<html>
  <head>
    
    <%- include('partials/head'); %>
   
  </head>
  <body>
    <%- include('partials/navbar'); %>
    <h1>Acerca de Benjamin Ramirez Bolaños</h1>

    <div class="card" style="width: 18rem;">
      <img src="/images/imagen.jpg" class="card-img-top" width="500" height="300">
      <div class="card-body">
        <p class="card-text">Hola Yo soy Benjamin Ramirez Bolaños del Grupo GDS0241 y el desarrollo de este trabajo me parece muy interesante</p>
      </div>
    </div>
    
    
    <%- include('partials/footer'); %>
    <%- include('partials/script'); %>
</body>

</html>