<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <title>Acerca de</title>
  </head>
  <body>
    <h1>Acerca de Benjamin Ramirez Bolaños</h1>

    <div class="card" style="width: 18rem;">
      <img src="/images/imagen.jpg" class="card-img-top" width="500" height="300">
      <div class="card-body">
        <p class="card-text">Hola Yo soy Benjamin Ramirez Bolaños del Grupo GDS0241 y el desarrollo de este trabajo me parece muy interesante</p>
      </div>
    </div>
    

</body>
</html>