<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); %>
    <script type="text/javascript">
        window.onload = function() {
          L.mapquest.key = 'ayDcFEjqYk7Ab6wzD8AEiiGKxm5eEXKn';
      
          var map = L.mapquest.map('map', {
            center: [21.2775023,-100.4958685],
            layers: L.mapquest.tileLayer('map'),
            zoom: 13
          });
      
          map.addControl(L.mapquest.control());
        }
      </script>
</head>

<body>
    

    <div class="jumbotron">
        
        <p class="lead">Este es un ejemplo basico</p>
        <img src="../images/node.jpg" width="400" height="300" />
        <hr class="my-4">
        <p>Mi primer sitio basico con Express</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>

    </div>

    <div id="container">
        <div id="map" style="width: 100%; height: 530px;"></div>

    </div>
    <%- include('../partials/footer'); %>
    <%- include('../partials/script'); %>
</body>

</html>